article h1 i{
  background: url('./iconos/spriteIconos.png');
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 5px;
  padding-left: 40px;

}

.icon-novedades {
  background-position:0 -30px;
  height: 30px;
  width: 39px;
}

.icon-contactar{
  background-position: 0 0px;
  height: 29px;
  width:32px;
}

.icon-estudios{
  background-position: 0 -61px;
  width:45px;
  height:30px;
}
.fa-facebook {
   background:#3b5998
 }
.fa-linkedin {
    background:#007bb6
}
.fa-twitter {
    background:#00aced
 }
 .fa-instagram{
   background: #125688;
 }

i:hover{
  background-color:lightgrey ;
}
i{
  border-radius: 20px;
}
video{

    width:100%;
    height: auto;

}
.videoIframe{
    height:0px;
    width:100%;
    padding-top:56.25%;
    position:relative;
}

.videoIframe iframe{
    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
}
